body {
    background-color: #242833;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item a {
    margin: 20px;
}

.info {
    color: #D4C17F;
    margin-top: auto;
}

.main {
    color: beige;
}


.info__header {
    margin-top: 15%;
    margin-bottom: 10%;
}

.mouse {
    margin-top: 100px;
    margin-bottom: 200px;
}

.first-screen {
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
        url(Rectangle.png);

}
.main img {
    margin-top: 100px;
    margin-bottom: 50px;
}

.description {
    padding: 0% 10%;
    margin-bottom: 100px;
}

.Our_appartments {
    margin-top: 50px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #D4C17F;
    padding-left: 15%;

}

.div_1 {
    margin-bottom: 100px;
    color: beige;

}

.div_2 .div_2a {
    color: beige;
    margin-top: 100px;
}

.Appartments_Gallery {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
    margin-top: 50px;

    padding: 0 100px;
}
.div_lofts {
    padding-left: 20px;
    margin-top: -50px;
}
.row2_appartments {
    margin-top: 25px;
}

.call_to_action {
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), url(Rectangle2.png);
}

.DYWS {
    padding-top: 178px;
    margin-bottom: 100px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;

    color: #D4C17F;
}
.Lorem_Ipsum {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 200px;
}
.disclaimer {
    color: #E7E7E7;
}
.form-control{
    background-color: rgba(206, 206, 202, 0.144);
}
.disclaim_button {
    margin-top: 46px;
}
.btn {
    background: #D4C17F;
}

.Rect_Image {
    margin-top: -365px;
    margin-left: 325px;
}
.MapWord {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-top: 375px;
    padding-left: 100px;
    margin-bottom: 50px;
}
.Rect_4 {
    padding-left: 100px;
}
.Any_Questions {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-top: 170px;

}
.forms_col_md_3 {
    margin-bottom: 379px;
}
.final_screen {
    color: #FFFFFF;
    background: url(Rectangle5.png);
    padding-top: 66px;
    padding-bottom: 64px;
}

.HouseVOP {
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}
.disclaimer {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
.logo__bottom {
    font-family: 'Raleway', sans-serif;
}
